.create_gifs_box{
    margin-bottom: 4.57rem;
    .window_scene1{
        margin: 5.42rem auto 10.85rem auto;
        background-color: #e6e6e6;
        box-shadow:inset -0.14rem -0.14rem 0 0 #b4b4b4, inset 0.14rem 0.14rem 0 0 #ffffff;
        max-width: 700px;
        .title_creategifs{
            background-image:linear-gradient(90deg,#4180F6 0%,#F7C9F3 100%);
            padding: 0.42rem;
            p{
                color: #ffffff;
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .creategifs_steps{
            padding: 2.28rem;
            .creategifs_content{
                display: flex;
                img{
                    margin-right: 1.14rem;
                    height: max-content;
                }
                .gifs_step{
                    margin-bottom: 2rem;
                    .creategifs_p1{
                        font-size: 1.14rem;
                        font-weight: bold;
                    }
                    .creategifs_p2{
                        margin: 0.5rem 0;
                        font-size: 1rem;
                        span{
                            font-style: italic;
                            font-weight: bold;
                            font-size: 1rem;
                        }
                    }
                    .list_steps{
                        font-size: 1rem;
                        counter-reset: list;
                        list-style: none;
                        li::before{
                            content: counter(list,decimal) ") ";
                            font-weight: bold;
                            counter-increment: list;
                        }
                        li{
                            margin-bottom: 0.5rem;
                        }
                    }
                    .creategifs_p3{
                        font-size: 1rem;
                        span{
                            font-style: italic;
                            font-size: 1rem;
                            font-weight: bold;
                        }
                    }
                }
            }
            .create_buttons{
                display: flex;
                justify-content: flex-end;
                button{
                    height: 2.57rem;
                    width: 10.28rem;
                    font-size: 1.14rem;
                    color: #110038;
                    border: 0.07rem solid #110038;
                    box-shadow:inset -0.07rem -0.07rem 0 0 #997d97, inset 0.07rem 0.07rem 0 0 #ffffff;
                    padding: 0.14rem;
                }
                .cancel_button{
                    margin-right: 1.14rem;
                    background-color: #fff4fd;
                }
                .begin_button{
                    background-color: #F7C9F3;
                }
                button:hover{
                    @include dot-border;
                }
            }
        }
    }
    .window_scene2{
        background-color: #e6e6e6;
        box-shadow:inset -0.14rem -0.14rem 0 0 #b4b4b4, inset 0.14rem 0.14rem 0 0 #ffffff;
        margin: 5.42rem auto 10.85rem auto;
        max-width: 860px;
        padding: 2px;
        .title_stage2{
            background-image:linear-gradient(90deg,#4180F6 0%,#F7C9F3 100%);
            padding: 0.42rem;
            position: relative;
            h3{
                color: #ffffff;
                font-size: 1rem;
                font-weight: bold;
            }
            button{
                width: 1.14rem;
                height: 1rem;
                position: absolute;
                right: 1rem;
                top: 0.5rem;
                z-index: 1;
                border: none;
            }
        }
        .video_box{
            margin: 1rem;
            video{
                background-color: black;
                border: 0.07rem solid #979797;
                box-shadow:inset -0.14rem -0.14rem 0 0 #e6e6e6, inset 0.14rem 0.14rem 0 0 black;
                width: 100%;
                height: auto;
                margin-bottom: 1.42rem;
            }
            .capture_gifs{
                display: flex;
                justify-content: flex-end;
                button{
                    display: flex;
                    justify-content: space-between;
                    color: #110038;
                    background-color: #F7C9F3;
                    border:0.07rem solid #110038;
                    padding: 2px;
                    width: 10.80rem;
                    height:2.13rem;
                    img{
                        height:1.14rem;
                        width: 1.28rem;
                        outline:0.07rem solid black;
                        outline-offset: 0.45rem;
                        margin-left: 4px;
                        margin-top: 2.45px;
                    }
                    span{
                        font-size: 1.14rem;
                        padding-right: 1.75rem;

                    }
                }
                button:hover{
                    @include dot-border;
                    background-color: #E6BBE2 ;
                }
            }
            .window_capture_upload{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                .timer_uploadbarbox{
                    display: flex;
                    flex-flow: row wrap;
                    width: auto;
                    .timerbox{
                        background-color: #ffffff;
                        border: 0.07rem solid #979797;
                        box-shadow:inset -0.14rem -0.14rem 0 0 #e6e6e6, inset 0.14rem 0.14rem 0 0 black;
                        color: #110038;
                        margin-bottom: 0;
                        margin-right: 1.14rem;
                        width: 5.9rem;
                        padding: 0.57rem 0.92rem 0.57rem 1.14rem;
                        font-size: 1rem;
                    }
                    .loadbar{
                        display: flex;
                        align-items: center;
                        button{
                            color: #110038;
                            background: #F7C9F3;
                            border:0.07rem solid #110038;
                            box-shadow: inset -0.07rem -0.07rem 0 0 #997d97, inset 0.07rem 0.07rem 0 0 #ffffff;
                            margin-right: 0.43rem;
                            padding: 0.14rem;
                            width: 1.64rem;
                            height: 2.21rem;
                        }
                        .loadbarbox{
                            background: #b4b4b4;
                            box-shadow:-0.14rem -0.14rem 0 0 #ffffff, inset 0.14rem 0.14rem 0 0 black;
                            display: flex;
                            width: 16.86rem;
                            height: 1.71rem;
                            padding: 2px;
                            span{
                                background-color: #979797;
                                display: block;
                                height: 100%;
                                flex: 1 1 auto;
                                margin-right: 2px;
                            }
                        }
                    }
                }
                .button_ready{
                    background-color: #ff6161;
                    border: 0.07rem solid #110038;
                    box-shadow:-0.07rem -0.07rem 0 0 #993a3a, inset 0.07rem 0.07rem 0 0 white;
                    color: #ffffff;
                    padding: 2px;
                    display: flex;
                    justify-content: space-between;
                    width: 9.28rem;
                    height: 2.5rem;
                    img{
                        outline:0.07rem solid black;
                        outline-offset: 0.45rem;
                        margin-left: 3px;
                    }
                    span{
                        font-size: 1.14rem;
                        padding-right: 2rem;
                    }
                }
                .button_ready:hover{
                    @include dot-border;
                }
                .repeat_uploadgif{
                    display: block;
                    button{
                        color: #110038;
                        border: 0.07rem solid black;
                        box-shadow: -0.07rem -0.07rem 0 0 #997d97, inset 0.07rem 0.07rem 0 0 white;
                        padding: 2px;
                        font-size: 1.14rem;
                    }
                    .repeat_gif{
                        margin-right: 1.71rem;
                        background: #fff4fd;
                        width: 12.25rem;
                        height: 2.5rem;
                    }
                    .upload_gif{
                        background: #F7C9F3;
                        width: 9.75rem;
                        height: 2.5rem;
                    }
                    button:hover{
                        @include dot-border;
                    }
                }
            }
        }
    }
    .window_scene5{
        background: #e6e6e6;
        box-shadow: -0.14rem -0.14rem 0 0 #b4b4b4, inset 0.14rem 0.14rem 0 0 #ffffff;
        margin: 5.42rem auto 10.85rem auto;
        max-width: 860px;
        padding: 2px;
        .title_stage5{
            background-image:linear-gradient(90deg,#4180F6 0%,#F7C9F3 100%);
            padding: 0.42rem;
            position: relative;
            h3{
                color: #ffffff;
                font-size: 1rem;
                font-weight: bold;
            }
            button{
                width: 1.14rem;
                height: 1rem;
                position: absolute;
                right: 1rem;
                top: 0.5rem;
                z-index: 1;
                border: none;
            }
        }
        .uploadboxgifs{
            margin: 1rem;
            background: #ffffff;
            box-shadow: -0.14rem -0.14rem 0 0 #e6e6e6, inset 0.14rem 0.14rem 0 0 #000000;
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            padding: 10rem 0;
            img{
                margin-bottom: 0.571rem;
                max-width: 100%;
                display: block;
            }
            .upload_text{
                margin-bottom: 2.28rem;
                font-size: 1.14rem;
                font-weight: bold;
                color: #110038;
            }
            .loadbar_upload{
                display: flex;
                width: 22.85rem;
                margin-bottom: 1rem;
                background: #b4b4b4;
                box-shadow: -0.14rem -0.14rem 0 0 #fffcfc, inset 0.14rem 0.14rem 0 0 #000000;
                height: 1.7rem;
                padding: 2px;
                span{
                    background: #979797;
                    display: block;
                    height: 100%;
                    flex: 1 1 auto;
                    margin-right: 2px;
                }
            }
            .time_text{
                span{
                    text-decoration: line-through;
                }
            }
        }
        .cancel_button{
            display: flex;
            justify-content: flex-end;
            margin-top: 0.5rem;
            margin-bottom: 1.14rem;
            margin-right: 1rem;
            button{
                width: 10.28rem;
                height: 2.57rem;
                font-size: 1.14rem;
                color: #110038;
                background-color: #FFF4FD ;
                border: 0.07rem solid #110038;
                box-shadow: -0.07rem -0.07rem 0 0 #997D97, inset 0.07rem 0.07rem 0 0 white;
            }
            button:hover{
                @include dot-border;
            }   
        }
    }
    .window_scene6{
        background: #e6e6e6;
        box-shadow: -0.14rem -0.14rem 0 0 #b4b4b4, inset 0.14rem 0.14rem 0 0 #ffffff;
        margin: 5.42rem auto 10.85rem auto;
        max-width: 700px;
        padding: 2px;
        .title_stage6{
            background-image:linear-gradient(90deg,#4180F6 0%,#F7C9F3 100%);
            padding: 0.42rem;
            position: relative;
            h3{
                color: #ffffff;
                font-size: 1rem;
                font-weight: bold;
            }
            button{
                width: 1.14rem;
                height: 1rem;
                position: absolute;
                right: 0.5rem;
                top: 0.5rem;
                z-index: 1;
                border: none;
            }
        }
        .gifuploadbox{
            margin: 2rem;
            .gifspreview{
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                img{
                    width: 25rem;
                    margin-bottom: 1.42rem;
                    border: 0.07rem solid #979797;
                }
                div{
                    padding-left: 1.71rem;
                    p{
                        font-size: 1.14rem;
                        font-weight: bold;
                        color: #110038;
                        margin-bottom: 1.14rem;
                    }
                    button{
                        margin-bottom: 1rem;
                        background: #FFF4FD;
                        color: #110038;
                        border: 0.07rem solid #110038;
                        box-shadow: -0.07rem -0.07rem 0 0 #997D97, inset 0.07rem 0.07rem 0 0 white;
                        width: 100%;
                        font-size: 16px;
                        height: 2.5rem;
                    }
                }
            }
        }
    }
}