.mis_gifs_section{
    display: none;
    padding:  2.5rem 0 0 0;
    .inicio_section{
        @include intro-box;
    }
    .misgifs{
        margin: 1.36rem 10rem 0 7.43rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .model-gif{
            @include gif-box-container;
            position: relative;
            margin: 0 0 1.14rem 0;
            .gifo{
                width: 19vw;
                height: 19vw;
                object-fit: cover;
            }
        }
    }
}