header{
    background-image: linear-gradient(90deg,#4180F6 0%,#F7C9F3 100%);
    box-shadow: 0 0.07rem 0 0 #110038 ;
    h1{
        color:#ffffff;
        font-size: 0.85rem;
        padding-top: 0.21rem;
        padding-left: 0.5rem;
        padding-bottom: 0.29rem;
    }
}