@mixin button {
    border: solid 0.07rem;
    background-color: #f7c9f3;
    box-shadow: inset -0.07rem -0.07rem 0 0 #997d97, inset 0.07rem 0.07rem 0 0 #ffffff;
}
@mixin button_blue {
    background: #4180f6;
    border: 0.07rem solid #4c2f99;
    box-shadow: inset -0.07rem -0.07rem 0 0 #284f99, inset 0.07rem 0.07rem 0 0 #ffffff;
    color: #ffffff;
    line-height: 1.29rem;
    font-size: 1rem;
}
@mixin contenedor-gif{
    display: flex;
    justify-content: space-between;
    margin: 1.36rem 10rem 0 7.14rem;
}
@mixin intro-box {
    margin: 0 10rem 0 7.14rem;
    display: flex;
    background: #fffafe;
    border: 0.07rem solid #e6bbe2;
    box-shadow: inset -0.14rem -0.14rem 0 0 #e6dce4, inset 0.14rem 0.14rem 0 0 #80687d;
    h3{
        font-size: 1rem;
        padding: 0.5rem;
        align-self: center;
        color:#110038 ;
        font-weight: lighter;
    }
}
@mixin gif-box-container {
    display: flex;
    flex-direction: column;
    border: none;
    background:#e6e6e6;
    box-shadow: inset -0.14rem -0.14rem 0 0 #b4b4b4, inset 0.14rem 0.14rem 0 0 #ffffff;
}
@mixin barra-numeral {
    display: flex;
    flex-wrap: nowrap;
    background-image: linear-gradient(270deg,#f7c9f3, #4180f6);
    position: relative;
    top: -1.3rem;
    left: 0.1rem;
    margin: 0 0.2rem -1.25rem 0;
    .gif-texto{
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        color: #ffffff;
        max-width: 19vw;
        white-space: nowrap;
    }
}
@mixin dot-border {
    outline: 0.21rem dotted black;
    outline-offset: -0.5rem;   
}
