header{
    background-image: linear-gradient(270deg,#EE3EFE 0%,#2E32FB 100%);
    box-shadow: 0 0.07rem 0 0 #110038 ;
    h1{
        color:#ffffff;
        font-size: 0.85rem;
        padding-top: 0.21rem;
        padding-left: 0.5rem;
        padding-bottom: 0.29rem;
    }
}