nav{
    display: flex;
    justify-content: space-between;
    img{
        padding: 2.5rem 7rem;
        height: 4rem;
    }
    #back_arrow{
        display: none;
        position: absolute;
        left: -2rem;
        height: 1.714rem;
        top: 3rem;
    }
    div{
        display: flex;
        padding: 3.14rem 10.04rem 2.5rem;
        button{
            @include button;
            padding: 0.64rem 1.89rem;
            margin: 0.57rem;
            font-size: 1.14rem;
            color:#FFFFFF;
            line-height: 1.19rem;
            position: relative;
        }
        .boton_crear{
            margin-right: 1.14rem;
            &:active{
                background: #110038;
            }
        }
        .boton_crear:hover{
            @include dot-border;
            background-color: #CE36DB;
        }
        button:hover{
            @include dot-border;
        }
        .boton_cambiar_tema{
            position: relative;
            margin: 0px;
            padding: 0px;
            .boton_tema{
                @include button;
                position: relative;
                margin: 0.57rem 0;
                padding: 0.93rem 1.07rem;
                &:active{
                    background:#110038;
                }
            }
            .boton_tema:hover{
                @include dot-border;
                background-color: #CE36DB;
            }
            .flecha_abajo{
                @include button;
                position: relative;
                margin: 0.57rem 0;
                padding: 0.93rem 1.07rem;
                &:active{
                    background:#110038 ;
                }
                .icono_flecha_abajo{
                    margin: 0;
                    padding: 0;
                    height: auto;
                }
            }
            .flecha_abajo:hover{
                @include dot-border;
                background-color: #CE36DB;
            }
            .escoger_temas{
                display: none;
                position: absolute;
                top: 3.7rem;
                background: #B4B4B4;
                box-shadow: inset -0.14rem -0.14rem 0 0 #8F8F8F, inset 0.14rem 0.14rem 0 0 #ffffff;
                z-index: 1;
                padding-bottom: 0.71;
                button{
                    width: 86.5%;
                    padding: 0.5rem 1.14rem;
                    color:#110038 ;
                    background: #CCCCCC;
                    border: 0.07rem solid #808080;
                    box-shadow: inset -0.07rem -0.07rem 0 0 #b4b4b4, inset 0.07rem 0.07rem 0 0 #ffffff;
                    font-size: 1.14rem;
                    text-align: left;
                }
                .boton_dark{
                    background: #2E32FB;
                    color: #FFFFFF;
                    border: 0.07rem solid #33358F ;
                    box-shadow: inset -0.07rem -0.07rem 0 0 #E6DCE4, inset 0.07rem 0.07rem 0 0 #ffffff;
                }
                .boton_dark::first-letter{
                    text-decoration: underline;
                }
            }
        }
    }
    .mis_gifs{
        background: transparent;
        padding: 0 0.8rem;
        margin: 0.4rem 0;
        border: none;
        box-shadow: none; 
    }
    .mis_gifs:hover{
        outline: 0.07rem dotted white;
        outline-offset: -0.3rem;
    }
    .mis_gifs:focus{
        color: #9674e6;
    }

}